$pale-blue-title: hsla(222, 100%, 96%, 0.692);
$pale-blue-max-score: hsla(222, 100%, 96%, 0.459);
$pale-blue-p: hsla(222, 100%, 96%, 0.644);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);
$light-red: rgb(214, 73, 73);
$orangey-yellow: hsla(39, 100%, 56%);
$green-teal: hsla(166, 100%, 37%);
$cobalt-blue: hsla(234, 85%, 45%);
$light-red-faded: hsla(0, 100%, 67%, 0.13);
$orangey-yellow-faded: hsla(39, 100%, 56%, 0.13);
$green-teal-faded: hsla(166, 100%, 37%, 0.13);
$cobalt-blue-faded: hsla(234, 85%, 45%, 0.13);
$font: 'Hanken Grotesk', sans-serif;
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

* {
  margin: 0;
  font-family: $font;
  font-size: 18px;
}



body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  width: 100svw;
}

main {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 860px;
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(253, 230, 230, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .result-container {
    padding: 5%;
    box-sizing: border-box;
    color: white;
    height: 100%;
    width: 50%;
    background: linear-gradient($light-slate-blue, $light-royal-blue);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .title {
      color: $pale-blue-title;
      font-weight: 700;
      font-size: 27px;
      margin-bottom: 10%;
    }

    .stats {
      height: 50%;
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background: linear-gradient($violet-blue, $persian-blue);
      margin-bottom: 8%;

      .score {
        font-size: 80px;
        font-weight: 800;
      }

      .max-score {
        color: $pale-blue-max-score;
        font-weight: 700;
      }
    }

    .summary {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .title {
        color: white;
        font-size: 35px;
        display: flex;
        margin: 4%;
      }

      .message {
        padding: 0 10%;
        box-sizing: border-box;
        color: $pale-blue-p;
        font-size: 20px;
      }
    }
  }

  .summary-container {
    height: 100%;
    background: white;
    border-radius: 0 35px 35px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4% 7%;
    box-sizing: border-box;

    .title {
      font-size: 28px;
      font-weight: 700;
      color: $dark-gray-blue;
      margin-bottom: 12%;
    }

    .scores {
      height: 70%;
      width: 100%;

      .score-box {
        display: flex;
        justify-content: space-between;
        height: 18.5%;
        border-radius: 15px;
        margin-bottom: 6.5%;
        box-sizing: border-box;
        padding: 0 5%;

        .left {
          display: flex;
          width: 50%;
          height: 100%;
          justify-content: flex-start;
          align-items: center;

          .title {
            font-size: 20px;
            font-weight: &00;
            margin: 0;
            padding-left: 10px;
          }
        }

        .right {
          display: flex;
          width: 30%;
          justify-content: center;
          align-items: center;
          font-weight: 800;
          font-size: 20px;

          .score {
            color: $dark-gray-blue;
          }

          .max-score {
            color: rgba(128, 128, 128, 0.582);
          }
        }
      }

      .score-box:nth-child(1) {
        background-color: $light-red-faded;

        .title {
          color: $light-red;
        }
      }

      .score-box:nth-child(2) {
        background-color: $orangey-yellow-faded;

        .title {
          color: $orangey-yellow;
        }
      }

      .score-box:nth-child(3) {
        background-color: $green-teal-faded;

        .title {
          color: $green-teal;
        }
      }

      .score-box:nth-child(4) {
        background-color: $cobalt-blue-faded;

        .title {
          color: $cobalt-blue;
        }
      }
    }

    .continue-container {
      height: 18.5%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .button {
        width: 100%;
        height: 63%;
        border-radius: 100px;
        background-color: $dark-gray-blue;
        color: white;
        cursor: pointer;
      }

      .button:hover {
        background: linear-gradient($light-slate-blue, $light-royal-blue);
        border: none;
      }
    }
  }
}
@media screen and (max-width: 879px) {
  body {
    display: block;
  }
  main {
    flex-direction: column;
    width: 100svw;
    height: 100svh;
    border-radius: 0;
    box-shadow: none;
    .result-container {
      border-radius: 0 0 35px 35px;
      width: 100%;
      height: 40%;
      padding: 3% 10%;
      .title {
        font-size: 20px;
        margin-bottom: 3%;

      }
      .stats {
        height: 100%;
        margin: 0;
        .score {
          font-size: 50px;
        }
        .max-score {
          font-size: 14px;
        }
      }
      .summary {
        .title {
          margin-bottom: 3%;
          font-size: 23px;
        }
        .message {
          margin-bottom: 3%;
          font-size: 16px;
        }
      }
    }
    .summary-container {
      width: 100%;
      height: 60%;
      padding-top: 7%;
      .title {
        font-size: 22px;
        margin-bottom: 8%;
      }
      .scores {
        .score-box {
          margin-bottom: 4.5%;
          .left {
            .title {
              font-size: 17px;
            }
          }
          .right {
            .score {
              font-size: 17px;
            }
            .max-score {
              font-size: 17px;
            }
          }
        }
      }

    }
  }

}